@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Inter", sans-serif;
}

/* CSS for Swiper Pagination Bullets */
.swiper-pagination-bullet {
    background-color: white; /* Set bullet color to white */
    opacity: 0.7; /* Optional: Make bullets semi-transparent */
  }
  
  .swiper-pagination-bullet-active {
    background-color: white; /* Keep active bullet white */
    opacity: 1; /* Make the active bullet fully visible */
  }